.section{
    padding: 10px 32px;
    width: 100%;
}
.title{
    font-size:20px;
    color: var(--css-white);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 32px;
}